@import url(default.css);
@import url(common.css);
@import url(layout.css);

/* 파일명 : main.css
   작성자 : 유선호
   작성일 : 2024.03.14
   설  명 : 메인페이지에만 들어가는 스타일을 저장 (header와 footer 빼고 전부 다) */


@media screen and (max-width:1600px) {
   section .wrapper {
      width: auto;
      margin: 0 150px;
   }
}
@media screen and (max-width:1024px) {
   section .wrapper {
      margin: 0 20px;
   }
}

.visual {
   margin-top: 100px;
}
.visual .swiper {
   height:700px
}
.visual .swiper-slide img {
   display:block;
   width:100%;
   height:700px;
   object-fit:cover;
}
.visual .swiper-pagination-bullet.swiper-pagination-bullet-active {
   background-color: #fff;
}
.visual h2 {
   display: none;
}
.visual .visual_txt {
   position: absolute; /* swiper-slide */
   text-align: right;
   top: 444px;
   right: 5%;
   transform: translate(-5%, 0);
   color: #fff;
}
.visual .visual_txt strong {
   display: block;
   font-size: 35px;
   font-weight: 700;
   line-height: 1.4;
}
.visual .visual_txt span {
   color: rgb(235, 113, 26);
}
@media screen and (max-width:1320px) {
   .visual .swiper {
      height: 500px
   }
   .visual .swiper-slide img {
      height: 500px;
   }
   .visual .visual_txt {
      top: 300px;
      right: 5%;
   }
   .visual .visual_txt strong {
      font-size: 27px;
   }
}
@media screen and (max-width:1024px) {
   .visual .swiper {
      height: 450px
   }
   .visual .swiper-slide img {
      height: 450px;
   }
   .visual .visual_txt strong {
      font-size: 23px;
   }
}
@media screen and (max-width:768px) {
   .visual {
      margin-top: 50px;
   }
   .visual .swiper {
      height: 300px
   }
   .visual .swiper-slide img {
      height: 300px;
   }
   .visual .visual_txt {
      top: 160px;
   }
   .visual .visual_txt strong {
      font-size: 15px;
   }
}

.biz {
   margin: 40px 0 110px 0;
}
.biz p {
   text-align: center;
   line-height: 1.6em;
}
.biz span {
   font-size: 18px;
}
.biz .biz_tit {
   display: flex;
   justify-content: space-between;
   position: relative;
   margin: 130px 0 20px 0;
}
.biz .biz_tit h2 {
   font-size: 30px;
   font-weight: 700;
   color: #1d1d1d;
}
.biz .biz_tit .more {
   margin-top: 20px;
}
.biz .biz_tit .more {
   position: relative;
   display: inline-block;
   width: 60px;
}
.biz .biz_tit .more::after {
   position: absolute;
   right: 0;
   top: 5px;
   width: 10px;
   height: 10px;
   content: "";
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain;
   background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='3d3d3d' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.08464 5.42444H0V4.4382H8.08464L4.2872 0.692902L5 0L10 4.93132L5 9.86264L4.2872 9.16973L8.08464 5.42444Z' fill='3d3d3d'/%3E%3C/svg%3E ");
}
.biz .inner {
   display: flex;
   justify-content: space-between;
}
.biz .inner .list ul {
   display: flex;
   flex-wrap: wrap;
}
.biz .inner .list ul li {
   width: calc(25% - 0);
   height: 100%;
   margin-right: 28px;
}
.biz .inner .list ul .last{
   margin-right: 0;
}
.biz .inner .list ul li a {
   display: block;
   text-align: left;
}
.biz .inner .list ul li a .photo {
   display: block;
   height: 100%;
   overflow: hidden; /* 이미지가 확대 되었을때 밖으로 나가는것 막기 */
   transition: 0.5s;
}
.biz .inner .list ul li a .photo img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: 0.5s;
}
.biz .inner .list ul li a:hover .photo img {
   transform: scale3d(1.1, 1.1, 1);
}
.biz .inner .list ul li a strong {
   font-size: 18px;
   font-weight: 700;
   margin: 5px 0;
   display: block;
   color: #2d2d2d;
}
.biz .inner .list ul li a p {
   margin-bottom: 20px;
   text-align: left;
   line-height: 1.2em;
}
@media screen and (max-width:1320px) {
   .biz .biz_tit {
      margin: 70px 0 20px 0;
   }
   .biz .inner .list ul li {
      width: calc(25% - 21px);
   }
}
@media screen and (max-width:1024px) {
   .biz {
      margin: 30px 0 50px 0;
   }
   .biz .biz_tit {
      margin: 70px 0 10px 0;
   }
   .biz .biz_tit h2 {
      font-size: 27px;
   }
   .biz .inner .list ul li {
      width: 350px;
      margin-right: 29px;
   }
   .biz .inner .list ul li:nth-child(2n) {
      margin-right: 0;
   }
}
@media screen and (max-width:768px) {
   .biz {
      margin: 20px 0 30px 0;
   }
   .biz span {
      font-size: 13px;
   }
   .biz .biz_tit {
      margin: 30px 0 10px 0;
   }
   .biz .biz_tit h2 {
      font-size: 18px;
   }
   .biz .biz_tit .more {
      margin-top: 5px;
   }
   .biz .biz_tit .more {
      width: 50px;
   }
   .biz .biz_tit .more::after {
      top: 4px;
      background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.42309 5.57691H0.576925C0.413463 5.57691 0.276443 5.5216 0.165866 5.41098C0.0552887 5.30035 0 5.16328 0 4.99975C0 4.83621 0.0552887 4.69922 0.165866 4.58877C0.276443 4.47832 0.413463 4.42309 0.576925 4.42309H4.42309V0.576925C4.42309 0.413463 4.4784 0.276443 4.58902 0.165866C4.69965 0.0552887 4.83672 0 5.00025 0C5.16379 0 5.30078 0.0552887 5.41123 0.165866C5.52168 0.276443 5.57691 0.413463 5.57691 0.576925V4.42309H9.42307C9.58654 4.42309 9.72356 4.4784 9.83413 4.58902C9.94471 4.69965 10 4.83672 10 5.00025C10 5.16379 9.94471 5.30078 9.83413 5.41123C9.72356 5.52168 9.58654 5.57691 9.42307 5.57691H5.57691V9.42307C5.57691 9.58654 5.5216 9.72356 5.41098 9.83413C5.30035 9.94471 5.16328 10 4.99975 10C4.83621 10 4.69922 9.94471 4.58877 9.83413C4.47832 9.72356 4.42309 9.58654 4.42309 9.42307V5.57691Z' fill='%233D3D3D'/%3E%3C/svg%3E%0A");
   }
   .biz .inner .list ul li {
      width: calc(50% - 5px);
      margin-right: 10px;
   }
   .biz .inner .list ul li a strong {
      font-size: 15px;
      margin: 5px 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
   }
   .biz .inner .list ul li a p {
      margin-bottom: 15px;
   }
}

.reservation h2 {
   font-size: 30px;
   font-weight: 700;
   color: #1d1d1d;
   margin-bottom: 20px;
}
.reservation .inner {
   display: flex;
   justify-content: space-between;
}
.reservation .inner .photo {
   height: 266px;
}
.reservation .inner .info {
   text-align: center;
   width: 50%;
   margin-top: 40px;
}
.reservation .inner .info ul li {
   margin-bottom: 48px;
}
.reservation .inner .info ul li:last-child {
   margin-bottom: 0;
}
.reservation .inner .info ul li a {
   position: relative;
   display: inline-block;
   border: 1px solid #6378FF;
   background-color: #6378FF;
   border-radius: 30px;
   width: 408px;
   line-height: 69px;
   color: #fff;
   font-weight: 700;
   padding-left: 50px;
}
.reservation .inner .info ul li a::before {
   position: absolute;
   left: 60px;
   top: 19px;
   width: 33px;
   height: 33px;
   content: "";
   background-image: url("data:image/svg+xml,%3Csvg width='33' height='33' viewBox='0 0 33 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30.0948 16.224C29.9831 12.5548 28.6304 9.43943 26.0368 6.87787C23.4431 4.31599 20.289 2.97988 16.5746 2.86957V0C18.8342 0.0491014 20.9496 0.506478 22.9209 1.37213C24.8926 2.2381 26.6147 3.3982 28.0873 4.85244C29.5596 6.30699 30.734 8.00784 31.6104 9.955C32.4871 11.9025 32.9503 13.9922 33 16.224H30.0948ZM22.3477 16.224C22.236 14.6911 21.6338 13.3819 20.5411 12.2966C19.4484 11.2115 18.1263 10.6199 16.5746 10.5217V7.65217C18.931 7.75038 20.9385 8.62161 22.597 10.2659C24.2559 11.9104 25.1412 13.8965 25.2528 16.224H22.3477ZM30.8729 33C27.223 33 23.5562 32.1618 19.8724 30.4853C16.189 28.8088 12.8015 26.444 9.7101 23.3908C6.63125 20.3372 4.24319 16.9942 2.54591 13.3617C0.848637 9.72942 0 6.11074 0 2.50561C0 1.9317 0.193679 1.45025 0.581037 1.06126C0.968395 0.672594 1.45259 0.478261 2.03363 0.478261H8.35047C8.83951 0.478261 9.27093 0.635928 9.64473 0.951262C10.0185 1.26628 10.2563 1.65558 10.358 2.11917L11.4682 7.74783C11.545 8.27009 11.5289 8.71886 11.4198 9.09413C11.3104 9.46941 11.1141 9.78458 10.831 10.0397L6.358 14.3407C7.07784 15.6428 7.90033 16.8746 8.82547 18.0362C9.75029 19.1974 10.7516 20.3065 11.8294 21.3634C12.8921 22.4134 14.0219 23.3884 15.2188 24.2885C16.4158 25.1886 17.7082 26.0262 19.0963 26.8013L23.4424 22.4711C23.7455 22.1596 24.1126 21.9412 24.5435 21.8159C24.9741 21.6909 25.4217 21.6603 25.8862 21.724L31.2642 22.8059C31.7532 22.9334 32.1523 23.1799 32.4616 23.5453C32.7708 23.9107 32.9254 24.3251 32.9254 24.7887V30.9913C32.9254 31.5652 32.7287 32.0435 32.3352 32.4261C31.9414 32.8087 31.454 33 30.8729 33ZM4.98336 11.6256L8.44005 8.35857C8.50203 8.30946 8.54238 8.24203 8.5611 8.15626C8.57982 8.07049 8.57675 7.99078 8.5519 7.91713L7.70988 3.64196C7.68502 3.54407 7.64161 3.47058 7.57963 3.42148C7.51765 3.37238 7.43695 3.34783 7.33753 3.34783H3.1957C3.12114 3.34783 3.059 3.37238 3.00929 3.42148C2.9599 3.47058 2.93521 3.53196 2.93521 3.60561C3.0343 4.91286 3.2509 6.24083 3.585 7.58952C3.91877 8.93854 4.38489 10.2839 4.98336 11.6256ZM21.8334 28.1586C23.1172 28.7497 24.4562 29.2017 25.8503 29.5144C27.2448 29.8269 28.5478 30.0126 29.7593 30.0716C29.8338 30.0716 29.896 30.0471 29.9457 29.998C29.9954 29.9489 30.0203 29.8875 30.0203 29.8138V25.7893C30.0203 25.6911 29.9954 25.6113 29.9457 25.5501C29.896 25.4889 29.8216 25.446 29.7225 25.4215L25.6552 24.6046C25.5806 24.5801 25.5154 24.577 25.4596 24.5955C25.4037 24.614 25.3447 24.6539 25.2824 24.7151L21.8334 28.1586Z' fill='white'/%3E%3C/svg%3E%0A");
   background-repeat: no-repeat;
   background-position: center center;
}
.reservation .inner .info ul li .sms::before {
   top: 14px;
   width: 40px;
   height: 40px;
   background-image: url("data:image/svg+xml,%3Csvg width='40' height='31' viewBox='0 0 40 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_338_2)'%3E%3Cpath d='M4.50011 30.8584C3.47986 30.8584 2.6163 30.505 1.90943 29.7981C1.20256 29.0912 0.849121 28.2277 0.849121 27.2074V4.21495C0.849121 3.1947 1.20256 2.33114 1.90943 1.62427C2.6163 0.9174 3.47986 0.563965 4.50011 0.563965H35.5711C36.5913 0.563965 37.4549 0.9174 38.1618 1.62427C38.8686 2.33114 39.2221 3.1947 39.2221 4.21495V27.2074C39.2221 28.2277 38.8686 29.0912 38.1618 29.7981C37.4549 30.505 36.5913 30.8584 35.5711 30.8584H4.50011ZM20.0356 16.8376L3.87856 6.50622V27.2074C3.87856 27.3888 3.9368 27.5378 4.05326 27.6543C4.16973 27.7707 4.31868 27.829 4.50011 27.829H35.5711C35.7525 27.829 35.9015 27.7707 36.0179 27.6543C36.1344 27.5378 36.1926 27.3888 36.1926 27.2074V6.50622L20.0356 16.8376ZM20.0356 13.6916L35.8821 3.59341H4.18908L20.0356 13.6916ZM3.87856 6.50622V3.59341V27.2074C3.87856 27.3888 3.9368 27.5378 4.05326 27.6543C4.16973 27.7707 4.31868 27.829 4.50011 27.829H3.87856V6.50622Z' fill='%233D3D3D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_338_2'%3E%3Crect width='40' height='31' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E ");
}
.reservation .inner .info ul li .sms {
   border: 1px solid #FAE100;
   background-color: #FAE100;
   color: #3d3d3d;
}
.reservation .inner .info ul li a h3 {
   font-size: 20px;
}
@media screen and (max-width:1320px) {
   .reservation .inner {
      display: block;
   }
   .reservation .inner .photo {
      height: auto;
   }
   .reservation .inner .photo img {
      width: 100%;
      height: auto;
   }
   .reservation .inner .info {
      width: 100%;
      margin-top: 20px;
   }
   .reservation .inner .info ul {
      display: flex;
      justify-content: space-evenly;
   }
   .reservation .inner .info ul li {
      margin-bottom: 0;
   }
}
@media screen and (max-width:1024px) {
   .reservation h2 {
      font-size: 27px;
      margin-bottom: 10px;
   }
   .reservation .inner .info {
      margin-top: 10px;
   }
   .reservation .inner .info ul li a {
      width: 350px;
      line-height: 50px;
   }
   .reservation .inner .info ul li a::before {
      left: 40px;
      top: 10px;
      width: 30px;
      height: 30px;
      background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 33 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30.0948 16.224C29.9831 12.5548 28.6304 9.43943 26.0368 6.87787C23.4431 4.31599 20.289 2.97988 16.5746 2.86957V0C18.8342 0.0491014 20.9496 0.506478 22.9209 1.37213C24.8926 2.2381 26.6147 3.3982 28.0873 4.85244C29.5596 6.30699 30.734 8.00784 31.6104 9.955C32.4871 11.9025 32.9503 13.9922 33 16.224H30.0948ZM22.3477 16.224C22.236 14.6911 21.6338 13.3819 20.5411 12.2966C19.4484 11.2115 18.1263 10.6199 16.5746 10.5217V7.65217C18.931 7.75038 20.9385 8.62161 22.597 10.2659C24.2559 11.9104 25.1412 13.8965 25.2528 16.224H22.3477ZM30.8729 33C27.223 33 23.5562 32.1618 19.8724 30.4853C16.189 28.8088 12.8015 26.444 9.7101 23.3908C6.63125 20.3372 4.24319 16.9942 2.54591 13.3617C0.848637 9.72942 0 6.11074 0 2.50561C0 1.9317 0.193679 1.45025 0.581037 1.06126C0.968395 0.672594 1.45259 0.478261 2.03363 0.478261H8.35047C8.83951 0.478261 9.27093 0.635928 9.64473 0.951262C10.0185 1.26628 10.2563 1.65558 10.358 2.11917L11.4682 7.74783C11.545 8.27009 11.5289 8.71886 11.4198 9.09413C11.3104 9.46941 11.1141 9.78458 10.831 10.0397L6.358 14.3407C7.07784 15.6428 7.90033 16.8746 8.82547 18.0362C9.75029 19.1974 10.7516 20.3065 11.8294 21.3634C12.8921 22.4134 14.0219 23.3884 15.2188 24.2885C16.4158 25.1886 17.7082 26.0262 19.0963 26.8013L23.4424 22.4711C23.7455 22.1596 24.1126 21.9412 24.5435 21.8159C24.9741 21.6909 25.4217 21.6603 25.8862 21.724L31.2642 22.8059C31.7532 22.9334 32.1523 23.1799 32.4616 23.5453C32.7708 23.9107 32.9254 24.3251 32.9254 24.7887V30.9913C32.9254 31.5652 32.7287 32.0435 32.3352 32.4261C31.9414 32.8087 31.454 33 30.8729 33ZM4.98336 11.6256L8.44005 8.35857C8.50203 8.30946 8.54238 8.24203 8.5611 8.15626C8.57982 8.07049 8.57675 7.99078 8.5519 7.91713L7.70988 3.64196C7.68502 3.54407 7.64161 3.47058 7.57963 3.42148C7.51765 3.37238 7.43695 3.34783 7.33753 3.34783H3.1957C3.12114 3.34783 3.059 3.37238 3.00929 3.42148C2.9599 3.47058 2.93521 3.53196 2.93521 3.60561C3.0343 4.91286 3.2509 6.24083 3.585 7.58952C3.91877 8.93854 4.38489 10.2839 4.98336 11.6256ZM21.8334 28.1586C23.1172 28.7497 24.4562 29.2017 25.8503 29.5144C27.2448 29.8269 28.5478 30.0126 29.7593 30.0716C29.8338 30.0716 29.896 30.0471 29.9457 29.998C29.9954 29.9489 30.0203 29.8875 30.0203 29.8138V25.7893C30.0203 25.6911 29.9954 25.6113 29.9457 25.5501C29.896 25.4889 29.8216 25.446 29.7225 25.4215L25.6552 24.6046C25.5806 24.5801 25.5154 24.577 25.4596 24.5955C25.4037 24.614 25.3447 24.6539 25.2824 24.7151L21.8334 28.1586Z' fill='white'/%3E%3C/svg%3E%0A");
   }
   .reservation .inner .info ul li .sms::before {
      top: 10px;
      width: 38px;
      height: 31px;
      background-image: url("data:image/svg+xml,%3Csvg width='38' height='31' viewBox='0 0 40 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_338_2)'%3E%3Cpath d='M4.50011 30.8584C3.47986 30.8584 2.6163 30.505 1.90943 29.7981C1.20256 29.0912 0.849121 28.2277 0.849121 27.2074V4.21495C0.849121 3.1947 1.20256 2.33114 1.90943 1.62427C2.6163 0.9174 3.47986 0.563965 4.50011 0.563965H35.5711C36.5913 0.563965 37.4549 0.9174 38.1618 1.62427C38.8686 2.33114 39.2221 3.1947 39.2221 4.21495V27.2074C39.2221 28.2277 38.8686 29.0912 38.1618 29.7981C37.4549 30.505 36.5913 30.8584 35.5711 30.8584H4.50011ZM20.0356 16.8376L3.87856 6.50622V27.2074C3.87856 27.3888 3.9368 27.5378 4.05326 27.6543C4.16973 27.7707 4.31868 27.829 4.50011 27.829H35.5711C35.7525 27.829 35.9015 27.7707 36.0179 27.6543C36.1344 27.5378 36.1926 27.3888 36.1926 27.2074V6.50622L20.0356 16.8376ZM20.0356 13.6916L35.8821 3.59341H4.18908L20.0356 13.6916ZM3.87856 6.50622V3.59341V27.2074C3.87856 27.3888 3.9368 27.5378 4.05326 27.6543C4.16973 27.7707 4.31868 27.829 4.50011 27.829H3.87856V6.50622Z' fill='%233D3D3D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_338_2'%3E%3Crect width='40' height='31' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E ");
   }
   .reservation .inner .info ul li a h3 {
      font-size: 20px;
   }
}
@media screen and (max-width:768px) {
   .reservation h2 {
      font-size: 18px;
   }
   .reservation .inner .info ul li a {
      width: 170px;
      line-height: 35px;
      padding-left: 35px;
   }
   .reservation .inner .info ul li a::before {
      left: 35px;
      top: 7px;
      width: 21px;
      height: 21px;
      background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 33 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30.0948 16.224C29.9831 12.5548 28.6304 9.43943 26.0368 6.87787C23.4431 4.31599 20.289 2.97988 16.5746 2.86957V0C18.8342 0.0491014 20.9496 0.506478 22.9209 1.37213C24.8926 2.2381 26.6147 3.3982 28.0873 4.85244C29.5596 6.30699 30.734 8.00784 31.6104 9.955C32.4871 11.9025 32.9503 13.9922 33 16.224H30.0948ZM22.3477 16.224C22.236 14.6911 21.6338 13.3819 20.5411 12.2966C19.4484 11.2115 18.1263 10.6199 16.5746 10.5217V7.65217C18.931 7.75038 20.9385 8.62161 22.597 10.2659C24.2559 11.9104 25.1412 13.8965 25.2528 16.224H22.3477ZM30.8729 33C27.223 33 23.5562 32.1618 19.8724 30.4853C16.189 28.8088 12.8015 26.444 9.7101 23.3908C6.63125 20.3372 4.24319 16.9942 2.54591 13.3617C0.848637 9.72942 0 6.11074 0 2.50561C0 1.9317 0.193679 1.45025 0.581037 1.06126C0.968395 0.672594 1.45259 0.478261 2.03363 0.478261H8.35047C8.83951 0.478261 9.27093 0.635928 9.64473 0.951262C10.0185 1.26628 10.2563 1.65558 10.358 2.11917L11.4682 7.74783C11.545 8.27009 11.5289 8.71886 11.4198 9.09413C11.3104 9.46941 11.1141 9.78458 10.831 10.0397L6.358 14.3407C7.07784 15.6428 7.90033 16.8746 8.82547 18.0362C9.75029 19.1974 10.7516 20.3065 11.8294 21.3634C12.8921 22.4134 14.0219 23.3884 15.2188 24.2885C16.4158 25.1886 17.7082 26.0262 19.0963 26.8013L23.4424 22.4711C23.7455 22.1596 24.1126 21.9412 24.5435 21.8159C24.9741 21.6909 25.4217 21.6603 25.8862 21.724L31.2642 22.8059C31.7532 22.9334 32.1523 23.1799 32.4616 23.5453C32.7708 23.9107 32.9254 24.3251 32.9254 24.7887V30.9913C32.9254 31.5652 32.7287 32.0435 32.3352 32.4261C31.9414 32.8087 31.454 33 30.8729 33ZM4.98336 11.6256L8.44005 8.35857C8.50203 8.30946 8.54238 8.24203 8.5611 8.15626C8.57982 8.07049 8.57675 7.99078 8.5519 7.91713L7.70988 3.64196C7.68502 3.54407 7.64161 3.47058 7.57963 3.42148C7.51765 3.37238 7.43695 3.34783 7.33753 3.34783H3.1957C3.12114 3.34783 3.059 3.37238 3.00929 3.42148C2.9599 3.47058 2.93521 3.53196 2.93521 3.60561C3.0343 4.91286 3.2509 6.24083 3.585 7.58952C3.91877 8.93854 4.38489 10.2839 4.98336 11.6256ZM21.8334 28.1586C23.1172 28.7497 24.4562 29.2017 25.8503 29.5144C27.2448 29.8269 28.5478 30.0126 29.7593 30.0716C29.8338 30.0716 29.896 30.0471 29.9457 29.998C29.9954 29.9489 30.0203 29.8875 30.0203 29.8138V25.7893C30.0203 25.6911 29.9954 25.6113 29.9457 25.5501C29.896 25.4889 29.8216 25.446 29.7225 25.4215L25.6552 24.6046C25.5806 24.5801 25.5154 24.577 25.4596 24.5955C25.4037 24.614 25.3447 24.6539 25.2824 24.7151L21.8334 28.1586Z' fill='white'/%3E%3C/svg%3E%0A");
   }
   .reservation .inner .info ul li .sms::before {
      top: 7px;
      width: 25px;
      height: 21px;
      background-image: url("data:image/svg+xml,%3Csvg width='25' height='21' viewBox='0 0 40 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_338_2)'%3E%3Cpath d='M4.50011 30.8584C3.47986 30.8584 2.6163 30.505 1.90943 29.7981C1.20256 29.0912 0.849121 28.2277 0.849121 27.2074V4.21495C0.849121 3.1947 1.20256 2.33114 1.90943 1.62427C2.6163 0.9174 3.47986 0.563965 4.50011 0.563965H35.5711C36.5913 0.563965 37.4549 0.9174 38.1618 1.62427C38.8686 2.33114 39.2221 3.1947 39.2221 4.21495V27.2074C39.2221 28.2277 38.8686 29.0912 38.1618 29.7981C37.4549 30.505 36.5913 30.8584 35.5711 30.8584H4.50011ZM20.0356 16.8376L3.87856 6.50622V27.2074C3.87856 27.3888 3.9368 27.5378 4.05326 27.6543C4.16973 27.7707 4.31868 27.829 4.50011 27.829H35.5711C35.7525 27.829 35.9015 27.7707 36.0179 27.6543C36.1344 27.5378 36.1926 27.3888 36.1926 27.2074V6.50622L20.0356 16.8376ZM20.0356 13.6916L35.8821 3.59341H4.18908L20.0356 13.6916ZM3.87856 6.50622V3.59341V27.2074C3.87856 27.3888 3.9368 27.5378 4.05326 27.6543C4.16973 27.7707 4.31868 27.829 4.50011 27.829H3.87856V6.50622Z' fill='%233D3D3D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_338_2'%3E%3Crect width='40' height='31' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E ");
   }
   .reservation .inner .info ul li a h3 {
      font-size: 15px;
   }
   .reservation .inner .info ul li a span {
      display: none;
   }
}

.location {
   margin: 130px 0 200px 0;
}
.location h2 {
   font-size: 30px;
   font-weight: 700;
   color: #1d1d1d;
   text-align: center;
   margin-bottom: 50px;
}
@media screen and (max-width:1320px) {
   .location {
      margin: 120px 0 200px 0;
   }
   .location h2 {
      font-size: 30px;
      margin-bottom: 30px;
   }
   .location .map iframe {
      width: 100%;
   }
}
@media screen and (max-width:1024px) {
   .location {
      margin: 60px 0 120px 0;
   }
   .location h2 {
      font-size: 27px;
      margin-bottom: 20px;
   }
   .location .map iframe {
      width: 100%;
   }
}
@media screen and (max-width:768px) {
   .location {
      margin: 40px 0 70px 0;
   }
   .location h2 {
      font-size: 18px;
      margin-bottom: 10px;
      text-align: left;
   }
   .location .map iframe {
      width: 100%;
      height: 300px;
   }
}